<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- <event name="controller_action_predispatch">
        <observer name="dsers_order_shipment_webhook_observer_save" instance="Vendor\Webhook\Observer\OrderWebhookRestObserver" />
    </event> -->

</config>

